[Desktop Entry]
Type=Application
Name=HomeFlix
Comment=Start HomeFlix Netflix Clone
Exec=/home/azad/homeflix-local/homeflix-wifi/start-delayed.sh
Icon=/home/azad/homeflix-local/homeflix-wifi/icon.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=30